$title-font: 700;
$main-font: 400;
$main-size: 14px;
$content-font: 500px;
$links-size: 16px;
$title-size: 48px;
$button-text-size: 21px;
$nav-title-top-size: 36px;
$nav-size-bottom-title: 48px;
$title-goods: 24px;
$title-subscribe: 18px;
$nav-title-footer-size: 16px;
$links-size: 12px;



$bg-color: #efefef;
$nav-color-top: #333333;
$bg-color-subscribe: #F13C6E;
$nav-color-top-title: #F13C6E;
$nav-color-bottom: #000000;
$text-color: #FFFFFF;
$nav-color-bottom-title: #FFFFFF;
$text-color-goods: #333333;
$button-color: #F13C6E;
$bc: white;
$bc-impuls: #efefef;
$bg-color-goods: white;
$bg-color-impuls: white;
$nav-title-footer-color: #000000;
$nav-text-footer-color: #333333;
$bg-footer: white;
$bc-footer: #EFEFEF;
$links-color: #828282;
$icon-bg: #F13C6E;